<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57566578344-pj9d91i73nknauueg6q77fvqqqg4ogd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57566578344-pj9d91i73nknauueg6q77fvqqqg4ogd4</string>
	<key>API_KEY</key>
	<string>AIzaSyCTQ6gbXO3Ay0w5Rr_BON_1MlNb-OGF6ZI</string>
	<key>GCM_SENDER_ID</key>
	<string>57566578344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eatonSpark</string>
	<key>PROJECT_ID</key>
	<string>eaton-spark</string>
	<key>STORAGE_BUCKET</key>
	<string>eaton-spark.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57566578344:ios:ff3c2ba0b998637c76649d</string>
</dict>
</plist>